@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';

body {
  margin: 0;
  font-family: 'Ubuntu Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 1.3;
  background-color: #edf0f5;
}

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  // pointer-events: none; 
  .mapboxgl-canvas{
    opacity: .5;
  }
}

.map-container-location{
  width: 100%;
  max-width: 100%;
  height: 300px;
}

#hidden{
  display: none;
}

.allInputContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  // z-index: 1;
  pointer-events: none; 
}

.dropzone{
  background: rgba(255, 255, 255, .7);
  border: 3px dotted black;
  padding: 20px;
  pointer-events: auto;
  opacity: 1;
  z-index: 2;
  position: relative;
  // height: 200px;
}

.droppedImage{
  width: 1200px;
  opacity: 1;
  img{
    width: 100%;
  }
}

.buttons{
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  button{
    display: block;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
    padding: 7px;
    width: 170px;
    margin-bottom: 5px;
    background: #fff;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 2px;
  }
  a{
    display: none;
  }
}

.mapbox-gl-draw_polygon{
  position: relative;
  z-index: 10;
  background-color: blue;
}